<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_classes</title>
</head>
<body>
<h3>编辑学生信息</h3>
<form action="/edit_student.html?nid={{ stu_obj.id }}" method="post">
    {% csrf_token %}
    <p><input type="text" name="username" placeholder="用户名" value="{{ stu_obj.username }}"></p>
    <p><input type="text" name="age" placeholder="年龄" value="{{ stu_obj.age }}"></p>
    <p>
        {% if stu_obj.gender  %}
            男：<input type="radio" name="gender" value="1" checked="checked">
            女：<input type="radio" name="gender" value="0">
        {% else %}
            男：<input type="radio" name="gender" value="1" >
            女：<input type="radio" name="gender" value="0" checked="checked">
        {% endif %}


    </p>
    <p>
        <select name="cs" id="">
            {% for cs in cs_list %}
                {% if cs == stu_obj.cs %}
                    <option value="{{ cs.id }}" selected="selected">{{ cs.name }}</option>
                {% else %}
                    <option value="{{ cs.id }}">{{ cs.name }}</option>
                {% endif %}

            {% endfor %}
        </select>
    </p>
    <input type="submit">
</form>

</body>
</html>