<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file_put</title>
</head>
<body>
<form>
    用户名：<input type="text" id="user">
    <input type="button" class="btn" value="Ajax提交">
</form>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.btn').click(function () {
            $.ajax({
                url:"",
                type:"post",     //默认 x-www-form-urlencoded
                contentType: "application/json",
                data:JSON.stringify({
                    a:1,
                    b:3
                }),
                success:function (data) {
                    console.log("=====>"+data)
                }
            })});
    })
</script>
</html>