{% extends 'layout.html' %}
{% block css %}
    <style type="text/css">
        .col-sm-8 ul li{
            float: left;
            list-style: none;
            margin: 10px;
            min-height: 3px;

        }
        .col-sm-8 ul li input[type="radio"] {
            margin: 4px 5px ;
        }
        .col-sm-8 ul li i{
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block page_header %}
    <h1>&nbsp;</h1>
{% endblock %}
{% block content %}
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label  class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field }}
                        <span style="color:red;">{{ field.errors.0 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <input type="submit" value="保 存" class="btn btn-primary">
                </div>
            </div>
        </form>
{% endblock %}