<ul class="sidebar-menu" data-widget="tree">    <!-- datawidget=tree 右边栏可以进行下拉框-->
    {% for item in menu_dict.values %}
        <li class="treeview">
            <a href="#">
                <i class="fa {{ item.icon }}"></i>
                <span>{{ item.title }}</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu" style="display: {{ item.display }}">
                {% for per in item.children %}
                    <li class="{{ per.class }}"><a  href="{{ per.url }}">{{ per.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}

</ul>
