<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>base模板</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        *{margin: 0;padding: 0}
        .header{width: 100%;height: 50px;background-color: cornflowerblue;}
    </style>
</head>
<body>
<div class="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'advertise.html' %}
            </div>
            <div class="col-md-9">
                {% block con %}

                    <a href="#">我是base.html 设置的content</a>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>













