<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
</head>
<body>
<form role="form"  method="post" action="{% url  'stark:assets_computer_import_excel' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="box-body">
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="asset_import" name="asset_import">

            <p class="help-block">Example block-level help text here.</p>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">导入数据</button>
    </div>
    {% if not False %}
        {% for computer in exist_computer %}
            <li style="color: red">{{ computer }}</li>
        {% endfor %}

    {% endif %}
</form>
</body>
<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/dist/layer/layer.js"></script>
<script type="text/javascript">
    {#window.parent.location.reload();#}
    var index = parent.layer.getFrameIndex(window.name);
    var status = {{ status }};
    if (status) {
        console.log("True")
    }else {
        console.log("False")
    }
</script>
</html>