{% extends 'base.html' %}


{% block title %}
    <h3>添加书籍页面</h3>
{% endblock %}

{% block book_title_name %}
    <input type="text" name="title" class="form-control">
{% endblock %}

{% block book_price %}
    <input type="text" name="price" class="form-control">
{% endblock %}

{% block book_pub_date %}
    <input type="date" name="pub_date" class="form-control">
{% endblock %}

{% block book_publish %}
    <select name="publish_id" id="" class="form-control">
        {% for publish in publish_list  %}
            <option value="{{ publish.pk }}">{{ publish.name }}</option>
        {% endfor %}
    </select>
{% endblock %}


{% block author %}
    <select type="text" name="author_id_list" multiple class="form-control">
        {% for author in author_list  %}
            <option value="{{ author.pk }}">{{ author.name }}</option>
        {% endfor %}
    </select>
{% endblock %}




