<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reg</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
</head>
<body>
{#<h3>forms组件渲染方式一</h3>#}
{#<form action="" method="post" novalidate="novalidate">#}
{#    {% csrf_token %}#}
{#    <p>{{ form.name.label }}{{ form.name }}<span>{{ form.name.errors.0 }}</span></p>#}
{#    <p>{{ form.pwd.label }}{{ form.pwd }}<span>{{ form.pwd.errors.0 }}</span></p>#}
{#    <p>{{ form.r_pwd.label }}{{ form.r_pwd }} <span>{{ form.r_pwd.errors.0 }}</span></p>#}
{#    <p>{{ form.email.label }}{{ form.email }}<span>{{ form.email.errors.0 }}</span></p>#}
{#    <p>{{ form.tel.label }}{{ form.tel }}<span>{{ form.tel.errors.0 }}</span></p>#}
{#    <input type="submit">#}
{#</form>#}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <h3>forms组件渲染方式二(建议)</h3>
            <form action="" method="post" novalidate="novalidate">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        <label for={{ field.auto_id }}>{{ field.label }}</label>
                        {{ field }}
                        <span style="color: red">{{ field.errors.0}}</span>
                    </p>
                {% endfor %}
                <input type="submit">
            </form>
        </div>
    </div>
</div>

</body>
</html>
